.Editor_container{
    width: 1200px;
    margin:0 auto;
    display: block;
}
.Editor_container dl{
    display: block;
    float: left;
}
.Editor_container dl:nth-of-type(1){
    width: 293px;
    height: 644px;
    position: relative;
}
.Editor_container dl:nth-of-type(1)>dt{
    width: 100%;
    height: 160px;
}
.Editor_person{
    width: 212px;
    height: 212px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
}
.Editor_person>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Editor_container dl:nth-of-type(1)>dd{
    width: 100%;
    height: 484px;
    background-color: white;
}
.Editor_leftNav>li{
    height: 48px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
}
.Editor_leftNav>li>p{
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    color:#515151;
}
.Editor_leftNav li:nth-of-type(1){
    height: 136px;
}
.Editor_leftNav li:nth-of-type(2){
    height: 94px;
}
.Editor_leftNav li:nth-of-type(2)>p{
    width: 50%;
    float: left;
    display: block;
    height: 100%;
}
.Editor_leftNav li:nth-of-type(2)>p>span{
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
    color:#999999;
    font-size: 18px;
}
.Editor_leftNav li:nth-of-type(2)>p>span:nth-of-type(1){
    font-size: 24px;
    line-height:60px;
}
.Editor_leftNav li:nth-of-type(2)>p:nth-of-type(1)>span:nth-of-type(2)>strong,.Editor_leftNav li:nth-of-type(3)>p:nth-of-type(2)>em{
    display:inline-block;
    width: 29px;
    height: 18px;
    background-color:#E5E5E5;
    border-radius: 5px;
    text-align: center;
    line-height: 18px;
    color: #353535;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 400;
}
.Editor_leftNav li:nth-of-type(3)>p:nth-of-type(2)>em{
    margin-left: 0;
    list-style: none;
}
.Editor_leftNav li:nth-of-type(2)>p:nth-of-type(2)>span:nth-of-type(2),.Editor_leftNav li:nth-of-type(3)>p:nth-of-type(2)>em{
    position: relative;
}
.Editor_leftNav li:nth-of-type(2)>p:nth-of-type(2)>span:nth-of-type(2)>strong,.Editor_leftNav li:nth-of-type(3)>p:nth-of-type(2)>em>strong{
    width: 5px;
    height: 5px;
    background-color: #FF0000;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 32px;
    top: 10px;
}
.Editor_leftNav li:nth-of-type(3)>p:nth-of-type(2)>em>strong{
    top: -2px;
    right:-2px;
}
.Editor_leftNav li:nth-of-type(1){
    overflow: hidden;
}
.Editor_leftNav li:nth-of-type(1)>p{
    display: block;
    margin: 88px auto 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
}
.Editor_leftNav li:nth-of-type(1)>p>img{
    display: inline-block;
    width: 52px;
    height: 22px;
    border-radius: 5px;
    margin-left: 5px;
}
.Editor_leftNav li:last-of-type>p:nth-of-type(1){
    position: relative;
}
.Editor_leftNav li:last-of-type>p:nth-of-type(1)>img{
    right: 10px;
    top: 0px;
    bottom: 0;
    margin: auto;
    position: absolute;
    display:block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.Editor_container dl:nth-of-type(2){
    width: 550px;
    margin-left: 10px;
    background-color: white;
}
.Editor_container dl:nth-of-type(2)>form{
    height: 622px;
    padding: 23px 0 0 14px;
    position: relative;
}
.Editor_container dl:nth-of-type(2)>form>p{
    display: block;
    height: auto;
    font-size: 18px;
}
.Editor_container dl:nth-of-type(2)>form>p>label,.channel label{
    float: left;
    display: block;
    width:70px;
    margin-bottom: 25px;
    font-size: 18px;
}
.Editor_container dl:nth-of-type(2)>form>p>input{
    width: 450px;
    height: 29px;
    border: 1px solid #959595;
    border-radius: 5px;
    float: left;
    display: block;
    margin-bottom: 25px;
}
.Editor_container dl:nth-of-type(2)>form>p:nth-of-type(2)>input{
    height: 210px;
}
.Editor_container dl:nth-of-type(2)>form>p:nth-of-type(3)>input{
    height: 152px;
}
.channel{
    width: 100%;
    overflow: hidden;
}
.channel p{
    display: block;
    float: left;
    width:40px;
    font-size: 18px;

}
.channel p+input{
    border: 1px solid #ccc;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    margin:4px 30px 0 0;
    /*display: inline-block;*/
    color:black;
}
.Editor_container dl:nth-of-type(3){
    width: 337px;
    background-color: white;
    margin-left: 10px;
    height: auto;
}
.Editor_container dl:nth-of-type(3)>dt,.Editor_container dl:nth-of-type(2)>dt,.collection>dt,.contant dt{
    height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #BABABA;
    line-height: 40px;
}
.Editor_container dl:nth-of-type(3)>dt>span,.Editor_container dl:nth-of-type(2)>dt>span,.collection>dt>span,.contant dt>span{
    display: inline-block;
    margin-left: 18px;
    border-bottom: 2px solid #00A1EB;
    height: 40px;
}

.Editor_container dl:nth-of-type(3) dd{
    width: 100%;
    height: 102px;
    border-bottom: 1px dashed #959595;
}
.Editor_container dl:nth-of-type(3)>dd:nth-last-of-type(1){
    border-bottom: 0;
}
.Editor_container dl:nth-of-type(3) dd>img{
    width: 115px;
    height: 78px;
    display: block;
    float: left;
    margin: 11px 5px 0 9px;
}
.Editor_container dl:nth-of-type(3) dd>p{
    height: 78px;
    width: 129px;
    margin-top: 11px;
    display: block;
    float: left;
    overflow: hidden;
}
.Editor_container dl:nth-of-type(3) dd>p>span:nth-of-type(1){
    font-size: 16px;
    font-weight: 500;
    display: block;
}
.Editor_container dl:nth-of-type(3) dd>p>span:nth-of-type(1){
    font-size: 14px;
    color:#B5B5B5;
    display: block;
}
.Editor_container dl:nth-of-type(3) dd>input{
    width: 57px;
    height: 27px;
    border: 1px solid #58ACFC;
    color:#58ACFC;
    text-align: center;
    line-height: 27px;
    margin-top:40px;
    display: block;
    border-radius: 3px;
    float: left;
}
  .publish{
      position: absolute;
      bottom: 32px;
      left: 0;
      right: 0;
      margin: auto;
      width: 115px;
      height: 45px;
      background-color:#58ACFC;
      color: white;
      font-size: 20px;
      text-align: center;
      line-height: 45px;
      display: block;
      border-radius: 10px;
  }
.manage dl:nth-of-type(1){
    height: 447px;
    background-color: white;
}
.manage dl:nth-of-type(2){
    height: 702px;
    background-color: white;
    margin-top: 10px;
}
.manage dl>dt,.C_Container_right dl>dt{
    height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #BABABA;
    line-height: 40px;
}
.manage dt strong{
    font-weight: 400;
    display: block;
    float: right;
    margin-right: 14px;
    font-size: 14px;
}
.manage dl>dt>span,.C_Container_right dl>dt>span{
    display: block;
    margin-left: 18px;
    float: left;
}
.manage>dd{
    height: 726px;
    width: 100%;
    padding: 15px;
}
.C_left_item{
    width: 153px;
    height: 160px;
    display: block;
    margin-right: 26px;
    float: left;
    margin-bottom: 20px;
}
.C_left_item:nth-of-type(3n){
    margin-right: 0;
}
.C_left_item img{
    width: 153px;
    height: 104px;
}
.C_left_item p{
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 9px;
    display: block;
}
.C_left_item input{
    width: 57px;
    height: 26px;
    display: block;
    color:#A2A2A2;
    border:1px solid #A2A2A2;
    text-align: center;
    line-height:26px ;
    margin: 10px auto 0;
    border-radius: 3px;
}
.manage ul{
    width: 100%;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.manage ul>li{
    display: inline-block;
}
.manage>dl>.ul2{
    height: 60px;
    line-height: 60px;
}
.cc_active{
    color:#00A1EB;
}
.collection>.ul2{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.collection>.ul2>li{
    display: inline-block;
    
}
.C_left_item1{
    width: 100%;
    height: 133px;
    border-bottom: 1px dashed #959595;
}
.C_left_item1 img{
    width:196px;
    height: 104px;
    display: block;
    float: left;
    margin: 12px 3px 0 17px;
}
.C_left_item1 p{
    width: 322px;
    height:104px;
    margin-top: 12px;
    position: relative;
    float: left;
}
.C_left_item1 p>span:nth-of-type(1){
    font-weight: 500;
    display: block;
    font-size: 18px;

}
.C_left_item1 p>span:nth-of-type(2){
    font-size: 14px;
    display: block;
    color: #c1c1c1;
    text-indent: 32px;
}
.C_left_item1 p>span:nth-of-type(3){
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    width: 100%;
}
.C_left_item1 p>span:nth-of-type(3)>em{
    display: block;
    float: left;
}
.C_left_item1 p>span:nth-of-type(3)>em:nth-of-type(1){
    color:#959595;
}
.C_left_item1 p>span:nth-of-type(3)>em:nth-of-type(2){
    color:#67B2FC;
}
.C_left_item1 p>span:nth-of-type(3)>em:nth-of-type(3),.a_time{
    color:#959595;
    position: absolute;
    right: 0;
    bottom: 0;
}
.publishArticle{
    width: 550px;
    height: 118px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    margin:10px 0;
}
.publishArticle div{
    width: 534px;
    height: 105px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 105px;
    border: 1px dashed #ccc;
}
#E_example{
    background:none;
}
.collection{
    background-color: white;
}
.contant{
    height: 863px;
}
.contant dd{
    width: 100%;
    height: 153px;
    border-bottom: 1px dashed #ccc;
}
.contant dd:nth-last-of-type(1){
    border-bottom: 1px solid #ccc;
}
.ddd_left{
    width: 76px;
    height: 100%;
    padding-top:6px;
    display: block;
    float: left;
}
.ddd_left img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.ddd_right{
    width: 460px;
    height: 100%;
    display: block;
    margin-left: 10px;
    float: left;
}
.ddd_right p:nth-of-type(1){
    font-size: 14px;
    margin-bottom: 6px;
}
.ddd_right p:nth-of-type(1)>span{
    color:#27A8EC;

}
.ddd_right p:nth-of-type(2){
    margin-bottom: 8px;
    width: 460px;
    height: 92px;
    border: 1px solid #D2D2D2;
    overflow: hidden;
    display: block;
    padding: 5px 0 4px 5px;
}
.ddd_right p:nth-of-type(2)>img{
    width: 152px;
    height: 81px;
    display: block;
    float: left;
}
.ddd_right p:nth-of-type(2)>span{
    display: block;
    margin-left: 6px;
    width: 280px;
    height: 81px;
    float: left;
}
.ddd_right p:nth-of-type(2)>span>em{
    display: block;
}
.ddd_right p:nth-of-type(2)>span>em:nth-of-type(1){
    font-size: 16px;
}
.ddd_right p:nth-of-type(2)>span>em:nth-of-type(2){
    font-size: 12px;
    color:#959595;
    text-indent:24px;
}
.ddd_right p:nth-of-type(3){
    font-size:14px;
    text-align: right;
    padding-right: 5px;
}
.ddd_right p:nth-of-type(3)>span{
    margin-left: 12px;
}
.ddd_right p:hover{
    cursor: pointer;
}
.Editor_leftNav li:last-of-type{
    position: relative;
}
.tt_item{
    height: 20px;
}
.ttitle{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 2px;
}
.tt_item p{
    width: 30%;
    height: 100%;
    display: block;
    float: left;
}
.tt_item p:nth-of-type(1){
    text-indent: 5px;
}
.tt_item p:nth-of-type(3){
    width: 40%;
}
.triangle1{
    width: 255px;
    height: 148px;
    background-color:#8E8E8E;
    opacity: .7;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    display: none;
    color: white;
    font-size: 14px;
}
.triangle{
    z-index: 100;
    position:absolute;
    overflow:hidden;
    width:15px;
    height:15px;
    background-color:#8E8E8E;
    opacity: .7;
    display: block;
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
    left: 40%;
    top: -5.5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0.7071067811865475,M12=-0.7071067811865477,M21=0.7071067811865477,M22=0.7071067811865475,SizingMethod='auto expand');
}